/*Slideshow*/

#logo-container {
    width: 100%;
    overflow: hidden;
    height: 69vh;
    object-fit: cover;
    position: relative;
    padding: 0;
    margin: 0;
}

figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /*animation*/
  
  animation: slideShow 24s linear infinite 0s;
  -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s;
  -webkit-animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
  opacity: 1;
  background: url(/images/slideshow5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(/images/slideshow6.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(/images/slideshow7.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(/images/slideshow8.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes 
slideShow {  0% {
 opacity: 0;
 transform:scale(1);
 -ms-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 transform:scale(1.1);
 -ms-transform:scale(1.1);
}
 100% {
 opacity: 0;
 transform:scale(1);
 -ms-transformm:scale(1);
}
}

@-o-keyframes 
slideShow {  0% {
 opacity: 0;
 -o-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -o-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -o-transformm:scale(1);
}
}

@-moz-keyframes 
slideShow {  0% {
 opacity: 0;
 -moz-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -moz-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -moz-transformm:scale(1);
}
}

@-webkit-keyframes 
slideShow {  0% {
 opacity: 0;
 -webkit-transform:scale(1);
}
 5% {
 opacity: 1
}
 25% {
 opacity: 1;
}
 30% {
 opacity: 0;
 -webkit-transform:scale(1.1);
}
 100% {
 opacity: 0;
 -webkit-transformm:scale(1);
}
}

#flocraft-text-container img {
    width: 100%;
    max-width: 30vw;
    min-width: 300px;
    height: auto;
}


.headercontent {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 12vh;
    height: auto;
}

.serverinformationbg {
    background-color: var(--color3);
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: black;
    height: 24.4vh;
    position: relative;
 
    
}

.serverinformation {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

#whitehr {
    background-color: white;
    max-width: 300px;
}

.homebody {
    background-color: var(--color2);
    padding: 50px;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: white;
    margin:0;
}

.guidebutton {
    background-color: var(--color3);
    color: white;
}

.guidebutton:hover {
    background-color: var(--color2);
    color: var(--color4);
}

.animate-bottom {
    position: absolute;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}


#footerlink {
    text-decoration: none;
    color: var(--color3);
}

#footerlink:hover {
    color: var(--color2);
}

.contentpage {
    margin: 6.6vh 30px 30px 30px;
    padding-top: 30px;
}

.contentpagefaq {
    margin: 6.6vh 30px 30px 30px;
    padding-top: 30px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
/* side nav on guides*/

ul.navbar-right {
    min-width: 100px;
    margin-bottom: 0px;
    position: fixed;
    right: 0;
    top: 50px;
    bottom: 0;
    list-style-type: none;
    background-color: var(--color3);
    box-shadow: 0px 0px 20px var(--color5);
    color: white;
  
  }
  ul.navbar-right li a{
    padding: 0px 20px 0px 10px;
    text-decoration: none;
    height: 42px;
    font-size: 15px;
    color: var(--color1);
    display: block;
    white-space: nowrap;
    opacity: 1;
    border-left: 3px solid var(--color3);
  }

  ul.navbar-right li:hover {
  border-left: 3px solid var(--color1);
  outline: none !important;
  background-color: rgb(33, 154, 144);
  }



.rulessection {
    font-size: 30px;
}


.staffimage {
    
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    
    margin-top: 20px;
    
    backdrop-filter: blur(5px);
    
  }

.staffcard {
    background-color: var(--color3);
}



.modalbutton {
    background-color: var(--color4);
    color: white;
}

.modalbutton:hover {
    background-color: var(--color1);
    color: var(--color4);
}

.livemap {
     left:0; 
     right:0;
      width:100%; 
      height: 92.6vh;
       border:none;
        overflow:hidden; 
}

.tabs {
    position: fixed;
    right: 90px;
    top: 6.6vh;
    margin-bottom: 0;
    max-width: 0px;
    text-align: center;
    z-index: 10000000000000;
}
.tabs a{
    margin-right: 5px;
    background-color: var(--color3);
    color: var(--color1);
    border-color: #1ca498;
}

.tabs a:hover{
    margin-right: 5px;
    background-color: var(--color6);
    color: var(--color1);
}


a.active{
    background-color: #3a938c !important;
    color: var(--color1) !important;
    border-color: #1ca498 !important;
    
}

a.disabled{
    background-color: var(--color3) !important;
    color: var(--color1) !important;
    border-style: none;
    min-width: 90px; 
    padding: 0px 0px 0px 0px; 
    line-height: 4; 
    letter-spacing: .8px;
     border-radius: 0 !important;
     font-size: 17px;
     font-weight: bold;
     text-shadow: 1px 1px 5px #000;
    
}

.ghosttab {
    position: fixed;
    min-width: 90px; 
    padding: 0px 0px 0px 0px; 
    bottom: 0;
    top:6.6vh;
    background-image:linear-gradient(var(--color3), var(--color3), var(--color3), var(--color1));
    z-index: -1000000000;
    border-style: solid;
    border-width: 1px;
    border-color: #1ca498;
    
}


.shadowguide {
    position: fixed;
    min-width: 90px; 
    padding: 0px 0px 0px 0px; 
    bottom: 0;
    right: 0;
    top:0;
    box-shadow: 10px 10px 40px black !important;
}

/* List */
.ruleul {
    counter-reset: index;  
    padding: 0;
    max-width: 300px;
  }
  
  /* List element */
  .ruleul li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  .ruleul li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, var(--color2), var(--color3));
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Element separation */
  .ruleul li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media only screen and (min-width: 800px) {
    .ruleul {
      counter-reset: index;  
      padding: 0;
      max-width: 100%;
    }
    
    /* List element */
    .ruleul li {
      counter-increment: index; 
      display: flex;
      align-items: center;
      padding: 12px 0;
      box-sizing: border-box;
      font-size: 1.5em;
    }
    
    
    /* Element counter */
    .ruleul li::before {
      content: counters(index, ".", decimal-leading-zero);
      font-size: 2rem;
      text-align: left;
      font-weight: bold;
      min-width: 50px;
      margin-right: 10px;
      font-variant-numeric: tabular-nums;
      align-self: flex-start;
      background-image: linear-gradient(to bottom, var(--color2), var(--color3));
      background-attachment: fixed;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
    }
  }

pre {
    background-color: #f2f2f2;
    color: var(--color2);
    border-style: solid;
    border-width: 2px;
    border-color:  #bfbfbf;
    padding: 7px;
    font-weight: bold;
    margin:0px 0px 5px 0px;
    scrollbar-color: dark;
}

.guide-container {
   margin-left: 30px;
   margin-right: 120px; 
}

.guide-container h5 {
    margin-top:25px;
    margin-bottom: px;
 }

 .guide-container a {
  color: var(--color3);
  text-decoration: none;
  font-weight: bold;
}

.guide-container a:hover {
  color: var(--color2);
  text-decoration: none;
}

 summary {
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #fff;
    color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 0.25rem;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  details > summary::after {
    position: absolute;
    content: "+";
    right: 20px;
  }
  details[open] > summary::after {
    position: absolute;
    content: "-";
    right: 20px;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }

  details[close] summary ~ * {
    animation: sweepout .5s ease-out;
  }

  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }

  @keyframes sweepout {
    0%    {opacity: 1; margin-top: -10px}
    100%  {opacity: 0; margin-top: 0px}
  }

  .faq__content {
      margin-left: 30px;
  }

  .bior {
    
    list-style-image: url('/images/mc-diamond.png');
  }

  .lcur li{
    
    list-style-image: url('/images/guidephotos/creepicongradient.png');
    
  }

  .skur li{
    
    list-style-image: url('/images/guidephotos/dpickaxeicon.png');
    
  }

.mcitemlist {
  list-style: none;
  
}

  .mcitemlist img{
    display: inline-block;
    width: 40px;
    

  }

  .guidelogo {
      max-width: 70px;
      padding: 14px 5px 14px 5px;
  }

  .guideimages {
    width: 50vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-width: 5px;
    border-color: var(--color2);
    border-style: solid;
    border-radius: 10px;
    background-color: var(--color2);
    box-shadow: 0px 0px 20px var(--color5);
  }

 @media only screen and (max-width: 1200px) {
    .guideimages {
        width: 100%;
        min-width: 100%;
        margin-left: 0  !important;
        padding-right: 90px;
        right: 0 !important;
        height: auto;
        object-fit: cover;
        border-width: 5px 0px 5px 0px;
        border-color: var(--color2);
        border-style: solid;
        padding: -5px !important;
        background-color: var(--color2);
        box-shadow: 0px 0px 20px var(--color5);
        border-radius: 0px;
    }

    
  }

  .guidetext {
    height: 100%;
    margin-top: 300px;
    position: absolute;
   
  }

  .commandhl {
    background-color: #f2f2f2;
    color: var(--color2);
    border-style: solid;
    border-width: 2px;
    border-color:  #bfbfbf;
    padding: 1px 3px 1px 3px;
    font-weight: bold;
    margin:0px 0px 0px 0px;
    font-family:monospace;

  }

  .donate {
    width: 500px;
    height: 200px;
    margin: auto;
    text-align: center;
    background-image: url(/images/gradientlightblue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 20px var(--color5);
    margin-top: 75px;
    font-weight: bold;
  }

  @media only screen and (max-width: 1200px) {
    .donate {
      width: 100%;
      height: auto;
      margin: auto;
      text-align: center;
      background-image: url(/images/gradientlightblue.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-style: solid;
      border-width: 2px;
      border-radius: 5px;
      padding: 20px 0px 20px 0px;
      box-shadow: 0px 0px 20px var(--color5);
      margin-top: 75px;
      font-weight: bold;
    }
  }


 .donatebutton {
  border-style: solid;
  border-color: #DFDFDF;
  border-width: 2px 2px 0px 2px;
  color: #495057;
  background-color: white;
  padding: 10px 20px 10px;
  width: 100%;
  margin-bottom: 0px !important;
  text-align: left !important;
  border-radius: 4px 4px 0px 0px;
 }

 .donatebutton:hover {
   background-color: #F8F9FA;
 }

 .payicons {
   max-width: 40px;
   margin-right: 20px;
 }

 .donateinstructions {
  width: 50%; 
  margin: auto; 
 }

 @media only screen and (max-width: 1200px) {
  .donateinstructions {
    width: 100%; 
    margin: auto; 
   }
 }

 .customlist {
  font-weight: bold;
  color: var(--color5);
  border-radius: 30px;
  background-color: var(--color2);
  padding: 0px 6px 1px 6px;
  line-height: 2;
 }

.voteframes {
width: 100%;
min-height: 540px;
}

#votepageheight {
height: 84vh;
}

@media only screen and (max-height: 750px) {
  #votepageheight  {
    height: 100%;
   }
 }